.locs-container {
    background-color: var(--bg3);
    padding: 0.8em;
    min-height: 100vh;
}

.loc-list {
    list-style: none;
    padding-inline: 0.5em;
}

.loc-list li {
    padding-bottom: .2em;
    border-bottom: 1px solid #222;
}
.loc-list li h4 {
    display: flex;
    justify-content: space-between;
}

.loc-list li.active {
    color: var(--color3);
}

.loc-list li.active .muted{
    color: var(--color4);
}

.loc-btns {
    text-align: end;
}

.loc-btns button,
.search-btn,
.btn-user-pos {
    font-size: 20px;
    height: 2rem;
    width: 2rem;

    background-color: rgb(235, 159, 250);
    color: blueviolet;
    border-radius: 50%;
    box-shadow: 0.1em 0.1em 0.5em var(--bg1);
}

.loc-btns button > div,
.search-btn > div,
.btn-user-pos > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loc-btns button:hover,
.search-btn:hover,
.btn-user-pos:hover {
    background-color: cornflowerblue;
}

.loc-btns button:active,
.search-btn:active,
.btn-user-pos:active {
    background-color: rgb(53, 118, 237);
    translate: 0 0.3rem;
}

.map {
    width: 100%;
    height: 100vh;
}

.loc-filter {
    background-color: var(--bg1);
    padding: 0.3em;
    border-radius: 0.75em;
}

.loc-filter input[type=text] {
    width: 96%;
    margin: 0.5em;
    padding-inline: 1em;
    border-radius: 0.75em;
    background-color: var(--bg4);
}

.sort-by {
    border-radius: 0.75em;
    padding: 0.3em 0.8em;
    background-color: var(--bg4);
}

.pie {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.loc-stats {
    padding-inline: 0.5em;
}

.loc-stats ul {
    list-style-type: none;
    display: inline-block;
    text-transform: capitalize;
}

.loc-stats .pie-label {
    display: inline-block;
    background-color: black;
    width: 1em;
    height: 1em;
    margin-inline-end: 0.3em;
}