:root {
    --bg2: rgb(203, 101, 254);
    --bg4: rgb(229, 187, 250);
    --bg1: rgb(121, 1, 158);
    --bg3: rgb(150, 43, 207);
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
}